[submodule ".\\OpenGL\\OpenGL-Core\\vendor\\glfw"]
	path = .\\OpenGL\\OpenGL-Core\\vendor\\glfw
	url = https://github.com/TheCherno/glfw.git
[submodule ".\\OpenGL\\OpenGL-Core\\vendor\\glm"]
	path = .\\OpenGL\\OpenGL-Core\\vendor\\glm
	url = https://github.com/g-truc/glm.git
[submodule "OpenGL/OpenGL-Core/vendor/imgui"]
	path = OpenGL/OpenGL-Core/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
